.white {
    color: white;
}
#hero {
    width: auto;
    height: 650px;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center ;
    margin-bottom: 0;

}
h4 {
    text-align: center;
    padding-top: 500px;
}
a {
    text-decoration: none;
    color: black;

}